* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    padding: 5rem;
}

.logo {
    width: 400px;
    height: 150px;
}

.register-form {
    margin-top: 3rem;
}

.line-input {
    width: 100%;
}

.line-button {
    width: 100%;
    height: 100%;
}