* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5rem;
    justify-content: space-between;
}

.logo {
    width: 400px;
    height: 150px;
}

.line-input {
    width: 100%;
}

.line-button {
    width: 100%;
    height: 100%;
}

ul.nav-links {
    display: flex;
    padding: 0;
}

li.nav-li {
    list-style: none;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    padding: .5rem;
}

.nav-dropdown {
    display: none;
}


.dropdown-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1rem;
}

.dropdown-links li {
    list-style: none;
    display: flex;
}

.dropdown-links li a {
    width: 100%;
}