:root {
    --primary-color: rgb(255 228 53);
    --primary-color-darker: rgb(255 228 53);
    --secondary-color: rgb(1 2 1);
    --placeholder-color: #000000c2;
}

.text-green-1 {
    color: var(--secondary-color);
}

.bg-black-1 {
    background-color: var(--primary-color);
}

.text-upper {
    text-transform: uppercase;
}

.content-center {
    display: flex;
    justify-content: center;
}

.ff-1 {
    font-family: 'Raleway', sans-serif;
}

.styled-input {
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid var(--secondary-color) !important;
    box-shadow: none !important;
    border-radius: 0% !important;
    color: var(--secondary-color);
}

.styled-input::placeholder {
    color: var(--placeholder-color);
}

.styled-button {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    padding: .5rem;
    outline: none;
}

.styled-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.m-r-2 {
  margin-right: 2rem;  
}

.custom-autocomplete {
    background: var(--secondary-color);
}

.custom-autocomplete .ui-menu-item-wrapper:hover {
    color: var(--secondary-color);
}